<h1>List of Books</h1>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Publication Date</th>
    <th>Category</th>
    <th>Enabled</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>

  {% for b in enabledBooks %}
    <tr>
      <td>{{ b.title }}</td>
      <td>{{ b.publicationDate ? b.publicationDate|date('Y-m-d') : '' }}</td>
      <td>{{ b.category }}</td>
      <td>{{ b.enabled ? 'Yes' : 'No' }}</td>
      <td>{{ b.author.username }}</td>
      <td>
        <a href="{{ path('app_editBooks', { 'ref': b.ref }) }}">Edit</a>
       <a href="{{ path('app_deleteBooks', { 'ref': b.ref }) }}" onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
             <a href="{{ path('app_detailsBook', { 'ref': b.ref }) }}">Show</a>


      </td>
    </tr>   
  {% endfor %}
</table>

<p>Nombre des livres publiés: {{ numEnabled }}</p>
<p>Nombre des livres non publiés: {{ numDisabled }}</p>
